<h1>Real Time Products</h1>

<h2>Cargar</h2>
nombre: <input id="inputNombre" type="text">
precio: <input id="inputPrecio" type="text">
<button id="btnNuevoProd">Enviar</button>

<h2>Productos</h2>
<div id="products"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"